@import'vars';
@import'global';

// HEADER

.header__top-inner{
    display: flex;
    justify-content: space-between;
    height: 90px;
    align-items: center;
}

.header__text{
    margin-left: auto;
    margin-right: 50px;
    font-size: 15px;
    color: $text;
}

.header__text span{
    color: $red;
}

.header__btn{
    color: #fff;
    font-size: 12px;
    text-align: center;
    padding: 9px;
    width: 72px;
    border-radius: 4px;
}

.header__btn-login{
    background-color: $green;
    margin-right: 7px;
}
.header__btn-register{
    background-color: $red;
}

.header__menu{
    background-color: $bg;
}

.menu{
    display: flex;
    align-items: center;
    height: 60px;
}

.menu__list{
    li{
        display: inline-block;
        & + li{ 
          margin-left: 32px;
        }
    }

    a{
        color: #fff;
        font-size: 14px;
    }

}

// SEARCH


.search{
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 533px;

}

.search__inner{
    padding: 155px 0 100px;
    color: #fff;
    text-align:center;

    &-title{
        font-weight: 700;
        margin-bottom: 28px;
        font-size: 48px;
    }

    &-text{
        margin-bottom: 50px;
        font-style: 20px;
        font-weight: 500;
    }

    &-form{
        max-width: 670px;
        font-size: 14px;
        margin: 0 auto;
        position: relative;

        input{
            display: block;
            width: 100%;
            border-radius: 4px;
            box-shadow: 0.5px 0.866px 10px 0px rgba(124, 178, 64, 0.294);
            height: 56px;
            border: none;
            outline: none;
            padding-left: 25px;
            padding-right: 60px;
        
            &::placeholder{
                color: #90a4ae;
                font-weight: 500;
            }
        }

        button{
            position: absolute;
            background-color: transparent;
            border: none;
            outline: none;
            right: 20px;
            top: 16px;
        }

    }
          
}


